Um problema do sistema talvez não permita que você faça ou receba chamadas aqui
Tentar novamente

1 de 1.879
(sem assunto)
Caixa de entrada

NATHALIA DOS SANTOS PROENCA <nathalia.santos.proenca@escola.pr.gov.br>
Anexos
12:19 (há 10 minutos)
para mim


 2 anexos
  •  Anexos verificados pelo Gmail
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body{
    color: azure;
    background: black;
    margin:0px;
}
h1{
    text-align: center;
    color: rgb(242, 233, 250);
    background-color: darkblue;
    display:inline-block;
    margin-left: 41%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
}

h2{
     font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}
section{
    text-align: center;
}
